In [15]:
import numpy as np
import pandas as pd 
from sklearn import tree

In [16]:
df=pd.read_csv("Hiredp.csv",header=0)
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N

In [17]:
d = {'Y': 1, 'N': 0}
df['Hired'] = df['Hired'].map(d)
df['Employed?'] = df['Employed?'].map(d)
df['Top-tier school'] = df['Top-tier school'].map(d)
df['Interned'] = df['Interned'].map(d)
dd = {'BS': 0, 'MS': 1, 'PhD': 2}
df['Level of Education'] = df['Level of Education'].map(dd)
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,1,4,0,0,0,1
1,0,0,0,0,1,1,1
2,7,0,6,0,0,0,0
3,2,1,1,1,1,0,1
4,20,0,2,2,1,0,0

In [19]:
names = list(df.columns[:6])
names

['Years Experience',
 'Employed?',
 'Previous employers',
 'Level of Education',
 'Top-tier school',
 'Interned']

In [20]:
y = df["Hired"]
x = df[names]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x,y)

In [25]:
from IPython.display import Image
from sklearn.externals.six import StringIO

In [27]:
import pydotplus

In [28]:
DotData = StringIO()  
tree.export_graphviz(clf, out_file=DotData,  
                         feature_names=names)  
graph = pydotplus.graph_from_dot_data(DotData.getvalue())  
Image(graph.create_png())

InvocationException: GraphViz's executables not found